<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workstations</title>
    <link rel="stylesheet" href="/public/stylesheets/mainSS.css">
</head>
<body>
    <form method="post" action="/cancelBooking">
    <div class="background">
    <h1 class="header">Your Booked Workstations</h1>
    <h2>Cancel your booking</h2>
    <% bookedResults.forEach(function(r) { %>
    <ul>
        <li>
            <label style="width: 400px;" for="<%= r.uniqueid %>"><b>Table ID: </b><%= r.tableid %><b> Dates:</b> <%= r.fromdate %><b> - </b> <%= r.todate %></label>
            <input type="radio" value='<%= r.uniqueid %>' name="title" required>
        </li>
    </ul>

    <% }); %>
     <input type="submit" value="Cancel Your booking">
    </form>

    <form method="GET" action="/users/dashboard">
        <input type="submit" value="Return to dashboard">
    </form>
    </div>
</body>
</html>