<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workstations</title>
    <link rel="stylesheet" href="/public/stylesheets/mainSS.css">
</head>
<body>
    <form method="post" action="/cancelBooking">
    <div class="background">
    <h1 class="header">Your Booked Workstations</h1>
    <table class="table">
        <thead>
          <tr class="heading">              
            <th>Table ID</th>
            <th>From</th>
            <th>To</th>
            <th>Number of Days</th>
            <th></th>
          </tr>
        </thead>
        <% bookedResults.forEach(function(r) { %>
          <tbody class="table-body">
            <tr class="activity">
                <td><%= r.tableid %></a></td>
                <td><input type="hidden" value='<%= r.fromdate %>' class ='fromdate'><%= r.fromdate %></td>
                <td><input type="hidden"  value='<%= r.todate %>' class="todate"><%= r.todate %></td>
                <td><p class="result"></p></td>
                <td><button type="submit" name="title" value="<%= r.uniqueid %>" style="background:none;"><img src="/public/trashbin.jpg" style="vertical-align: middle; margin-bottom:4px;" alt="Delete" height="27px" width="27px"></button></td>
                    
            </tr>
          </tbody>
          <% }); %>
      </table>
    </form>
    <form method="GET" action="/users/dashboard">
        <input type="submit" value="Back to Search">
    </form>
    </div>
    <script>
        var fromdates = document.getElementsByClassName('fromdate');
        var todates = document.getElementsByClassName('todate');
        var result = document.getElementsByClassName("result");
        console.log(fromdates[0].value);
        console.log(todates);
        for( let i=0;i<fromdates.length;i++){
            let d1 = new Date(fromdates[i].value);
            var specificDateISOStringfro = d1.toISOString().split('T')[0];
            d1 = new Date(specificDateISOStringfro);

            let  d2 = new Date(todates[i].value);
            var specificDateISOStringto = d2.toISOString().split('T')[0];
            d2= new Date(specificDateISOStringto);

            let time = Math.abs(d1-d2);
            let  diffdays=Math.ceil(time/(1000*60*60*24)+1);
            console.log(diffdays);
            if(diffdays==1){
                result[i].innerHTML= diffdays ;
            }else{
                result[i].innerHTML= diffdays;
            }
        }
    </script>
</body>
</html>