<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Users:</title>
    <link rel="stylesheet" href="/public/stylesheets/mainSS.css">
  </head>

  <div class="background">
    <body>
        <div class="container">
          <h2>Database Results</h2>
              <table class="table">
                <thead>
                  <tr class="heading">
                      <th>Name</th>
                      <th>Email</th>
                      <th>Admin</th>
                      <th></th>
                      <th></th>
                  </tr>
                </thead>
                <form method="POST" action="/deleteUser">
                <% results.forEach(function(r) { %>
                  <tbody class="table-body">
                      <tr class="activity">
                          <th><%= r.fname %> <%= r.lname %></th>
                          <td><%= r.uemail %></td>
                          <td><%=r.admin%></td>
                          <td><a href='/users/admindash/editUserInfo/<%= r.uemail %>'>Edit User Info</a></td>
                          <td><a href='/users/admindash/viewUserBookings/<%= r.uemail %>'>View Bookings</a></td>
                          <td><button type="submit" id="email" name="email" value="<%= r.uemail %>">Delete User</td>
                        
                      </tr>
                  </tbody>
              <% }); %>
                </form>
          <form method="GET" action="/users/admindash/manageUsers">
            <input type="submit" value="Return to Manage Users">
          </form>
        </div>
    </body>
  </div>
</html>