<!DOCTYPE html>
<html>
  <head>
    BGCUSERS DATABASE FOR TROUBLESHOOTING
  </head>

  <body>
    <div class="container">
      <h2>Database Results</h2>

      <ul>
          <% results.forEach(function(r) { %>
              <li>Name: <%= r.fname %> <%= r.lname %> Email: <%= r.uemail %> Password: <%= r.upass %> Admin: <%=r.admin%> ID: <%= r.id %></li>
          <% }); %>
      </ul>

    </div>

  </body>
</html>