<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Edit Desk</title>
    <link rel="stylesheet" href="/public/stylesheets/mainSS.css">
  </head> 
  <body>
    <div class="background">
      <br>
      <h1 class="header">Edit Workstation <%= deskDataRow[0].tableid %></h1>
      <ul class="errors">
        <% if(typeof errors != 'undefined') { %>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }) %>
        <% } %>
      </ul>
      
        <table class="tables">
          <tr>
            <th></th>
            <th>Floor</th>
            <th>Office</th>
            <th>Window</th>
            <th>Corner</th>
            <th>Cubicle</th>
            <th>Single</th>
            <th>Double</th>
            
          </tr>
          <% deskDataRow.forEach(function(r) { %>
            <form action="/updateDesk/<%=r.tableid%>" method="POST">
              <tr>
                <td>
                  Current Values
                </td>
                <td>
                  <%= r.floor%>
                </td>
                <td>
                  <%= r.office === true ? 'Yes' : 'No' %>
                </td>
                <td>
                  <%= r.haswindow === true ? 'Yes' : 'No' %>
                </td>
                <td>
                  <%= r.corner === true ? 'Yes' : 'No' %>              
                </td>
                <td>
                  <%=r.cubicle === true ? 'Yes' : 'No' %>              
                </td>
                <td>
                  <%= r.single === true ? 'Yes' : 'No' %>
                </td>
                <td>
                  <%= r.double === true ? 'Yes' : 'No' %>
                </td>
              </tr>
            <tr>
              <td>
                New Values
              </td>
              <td>
                
                <select name="inputNewFloor">
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>
              </td>
              <td>
                <select name="inputNewOffice">
                  <option value="t">Yes</option>
                  <option value="f">No</option>
                </select>   
              </td>
              <td>
                <select name="inputNewWindow">
                  <option value="t">Yes</option>
                  <option value="f">No</option>
                </select>   
              </td>
              <td>
                <select name="inputNewCorner">
                  <option value="t">Yes</option>
                  <option value="f">No</option>
                </select>                 
              </td>
              <td>
                <select name="inputNewCubicle">
                  <option value="t">Yes</option>
                  <option value="f">No</option>
                </select>         
              </td>
              <td>
                <select name="inputNewSingle">
                  <option value="t">Yes</option>
                  <option value="f">No</option>
                </select>
              </td>
              <td>
                <select name="inputNewDouble">
                  <option value="t">Yes</option>
                  <option value="f">No</option>
                </select>
              </td>
            </tr>
          <% }); %>
        </table>
        <br>
        <div>
          <input type="submit" value="SUBMIT UPDATE">
        </form>
        <input type="submit" class="button" onclick="location.href='/users/admindash';" value="ADMIN DASHBOARD" />
        <input type="submit" class="button" onclick="location.href='/desks/manageDesks';" value="BACK" />
        </div>
        <br>
      
    </div>
    <br><br>Desks on Demand
    <br><input type="submit" class="button" onclick="location.href='/users/logout';" value="Logout" /><br>
    <script>
      
    </script>
  </body>
</html>
