<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Edit Desk</title>
    <link rel="stylesheet" href="/public/stylesheets/mainSS.css">
  </head> 
  <body>
    <div class="background">
      <br>
      <h1 class="header">Edit Workstation <%= deskDataRow[0].tableid %></h1>
      <ul class="errors">
        <% if(typeof errors != 'undefined') { %>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }) %>
        <% } %>
      </ul>
      
        <table class="tables">
          <tr>
            <th></th>
            <th>Type</th>
            <th>Has Window</th>
            <th>Corner</th>            
          </tr>
          <% deskDataRow.forEach(function(r) { %>
            <form action="/updateDesk/<%=r.tableid%>" method="POST">
              <tr>
                <td>
                  Current Values
                </td>
                <td>
                  <%= r.workstationtype%>
                </td>
                <td>
                  <%= r.haswindow === true ? 'Yes' : 'No' %>
                </td>
                <td>
                  <%= r.corner === true ? 'Yes' : 'No' %>              
                </td>
              </tr>
            <tr>
              <td>
                New Values
              </td>
              <td>
                <select name="inputNewType">
                  <option value="desk">desk</option>
                  <option value="cubicle">cubicle</option>
                  <option value="office">office</option>
                  <option value="boardroom">boardroom</option>
                </select>   
              </td>
              <td>
                <select name="inputNewWindow">
                  <option value="t">Yes</option>
                  <option value="f">No</option>
                </select>   
              </td>
              <td>
                <select name="inputNewCorner">
                  <option value="t">Yes</option>
                  <option value="f">No</option>
                </select>                 
              </td>
            </tr>
          <% }); %>
        </table>
        <br>
        <div>
          <input type="submit" value="Submit Update">
        </form>
        <input type="submit" class="button" onclick="location.href='/users/admindash';" value="Admin Dashboard" />
        <input type="submit" class="button" onclick="location.href='/manageDesks';" value="Back" />
        </div>
        <br>
      
    </div>
    <br><br>Desks on Demand
    <br><input type="submit" class="button" onclick="location.href='/users/logout';" value="Logout" /><br>
  </body>
</html>
