<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Register</title>
    <link rel="stylesheet" href="/public/stylesheets/mainSS.css">
  </head> 
  <body>
    <div class="background">
      <br>
      <h1 class="header">Register</h1>
      <ul class="errors">
        <% if(typeof errors != 'undefined') { %>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }) %>
        <% } %>
      </ul>
      <form action="/users/register" method="POST">
        <div>
          <input type="text" class="inputbox" id="fname" name="fname" placeholder="First Name" required /> 
        </div>
        <br>
        <div>
          <input type="text" class="inputbox" id="lname" name="lname" placeholder="Last Name" required /> 
        </div>
        <br>
        <div>
            <input type="email" class="inputbox" id="email" name="email" placeholder="Email" required /> 
        </div>
        <br>
        <div>
            <input type="password" class="inputbox" id="password" name="password" placeholder="Password" required /> 
        </div>
        <br>
        <div>
            <input type="password" class="inputbox" id="confirmpw" name="confirmpw" placeholder="Confirm Password" required /> 
        </div>
        <br>
        <div>
            <input type="submit" class="button" value="Register" />
        </div>
        <br>
        <a class="bottomlink" href="/users/login">Already registered? Login here</a>
        <br>
        <br>
      </form>
    </div>

    <div class="container">
        <h2>Database Results</h2>
  
        <ul>
            <% results.forEach(function(r) { %>
                <li>Name: <%= r.fname %> <%= r.lname %> Email: <%= r.uemail %> Password: <%= r.upass %> Admin: <%=r.admin%> ID: <%= r.id %></li>
            <% }); %>
        </ul>
  
      </div>

  </body>
</html>
