<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Manage Desks</title>
    <link rel="stylesheet" href="/public/stylesheets/mainSS.css">
  </head> 
  <body>
    <div class="background">
      <br>
      <h1 class="header">Manage Desks</h1>
      Please click on the Workstation ID to edit info<br>
      <ul>
        <% if (messages.success_msg) { %>
          <li><%=messages.success_msg %></li>
        <% } %>
      </ul>
      <ul class="errors">
        <% if(typeof errors != 'undefined') { %>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }) %>
        <% } %>
      </ul>
      
      <table class="tables">
        <tr>
          <th>Workstation ID</th>
          <th>Floor</th>
          <th>Office</th>
          <th>Window</th>
          <th>Corner</th>
          <th>Cubicle</th>
          <th>Single</th>
          <th>Double</th>
          
          <th>Delete</th>
        </tr>
        <% deskRows.forEach(function(r) { %>
          <tr>
            <td>
              <form action="/editDesk/<%= r.tableid%>" method="POST">
                <input class="thisDesk" type="submit" value="<%= r.tableid%>">
              </form>
            </td>
            <td><%= r.floor %></td>
            <td><%= r.office === true ? 'Yes' : 'No'%></td>
            <td><%= r.haswindow === true ? 'Yes' : 'No'%></td>
            <td><%= r.corner === true ? 'Yes' : 'No'%></td>
            <td><%= r.cubicle === true ? 'Yes' : 'No'%></td>
            <td><%= r.single === true ? 'Yes' : 'No'%></td>
            <td><%= r.double === true ? 'Yes' : 'No'%></td>
            
            <td>
              <form action="/delete/<%=r.tableid%>" method="POST">
                <input type="submit" value="DELETE">
              </form>
            </td>
          </tr>
        <% }); %>
      </table>

      <div>
        
          <input type="submit" class="button" onclick="location.href='/users/AdminDash';" value="Return to Admin Dash" />
      </div>
      <br>
    </div>
    <br><br>Desks on Demand
    <br><input type="submit" class="button" onclick="location.href='/users/logout';" value="Logout" /><br> 
  </body>
</html>
