<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Desks On Demand</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/mainCSS.css">
    </head>
    <body>
        
        <h3>User Page</h3>
        <ul>
            <% if (messages.error) { %>
              <li><%=messages.error %></li>
            <% } %>
        </ul>
        <input id="authorized" type="hidden" value="isAdmin">
        <p>Book from: <%= dates.nextFromDate %> to: <%= dates.nextToDate %></p>
        <% specificFloorSpecificDateQueryResults.forEach(function(r) { %>
            <form method="POST" action="/booking">
                <img src="/public/Logos/<%= r.floor %>.jpg">
                <h1><%= r.floor %></h1>
                <ul>
                    <li>
                        <label for="<%= r.tableid %>"><%= r.tableid %></label>
                        <input type="radio" value='<%= r.tableid %>' name="title">
                    </li>
                </ul>
            
                <% }); %>
                <br>
                <input type="hidden" value='<%= dates.nextFromDate %>' name="fromDate" id="fromDate">
                <input type="hidden" value='<%= dates.nextToDate %>' name="toDate" id="fromDate">
                <input type="submit" value="Book">
            </form>
            <form method="POST" action="/adminbooking">
                <input type="hidden" value='<%= dates.nextFromDate %>' name="startDate" id="startDate">
                <input type="hidden" value='<%= dates.nextToDate %>' name="endDate" id="endDate">
                <label for="useremailLookup">(ADMIN ONLY) Enter user email:</label>
                <input id="useremailLookup" name="useremail" type="email">
                <input id="adminButton" type="submit" value="Book for User">
            </form>

        <form method="GET" action="/users/dashboard">
            <input type="submit" value="Search again">
        </form>

        <form method="POST" action="/logout">
            <input type="submit" value="Log Out">
        </form>
        <script type="text/javascript" src="/public/adminbutton.js">
        </script>

    </body>
</html>