<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Desks On Demand</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/mainCSS.css">
    </head>
    <body>
        <h3>User Page</h3>

        <form method="POST" action="/searchTablesSpecificDate">
            
            <label for="Floor">Floor: </label>
            <select name="floor" id="floor">
                <option value="any">Any</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>

            <label for="Date">Date: </label>
            <input type="date" id="specificDate" name="specificDate">
            
            <fieldset style="width: 150px;">
                <legend><u>Additional: </u></legend>
                <label for="Office">Office: </label>
                <input type="hidden" name="office" value="false">
                <input type="checkbox" id="office" name="office" value="true"><br>
                <label for="Window">Window: </label>
                <input type="hidden" name="window" value="false">
                <input type="checkbox" id="window" name="window" value="true"><br>
                <label for="Corner">Corner: </label>
                <input type="hidden" name="corner" value="false">
                <input type="checkbox" id="corner" name="corner" value="true"><br>
                <label for="Cubicle">Cubicle: </label>
                <input type="hidden" name="cubicle" value="false">
                <input type="checkbox" id="cubicle" name="cubicle" value="true"><br>
                <label for="single">Single: </label>
                <input type="hidden" name="single" value="false">
                <input type="checkbox" id="single" name="single" value="true"><br>
                <label for="double">Double: </label>
                <input type="hidden" name="double" value="false">
                <input type="checkbox" id="double" name="double" value="true"><br>
            </fieldset>

            <input type="submit" value="Submit">

        </form>
        <table>
            <% results.forEach(function(r) { %>
                <tr>
                    <th>Floor</th>
                    <th>Workstation ID</th>
                    <th>Reserved Dates</th>
                    <th>Available Dates</th>
                    <th>Permanent</th>
                    <th>Office</th>
                    <th>Window Office</th>
                    <th>Corner</th>
                    <th>Cubicle</th>
                    <th>Single</th>
                    <th>Double</th>
                </tr>
                <tr>
                    <td><%= r.floor %></td>
                    <td><%= r.tableid %></td>
                    <td><%= r.reserveddates %></td>
                    <td><%= r.availabledates %></td>
                    <td><%= r.permanent %></td>
                    <td><%= r.office %></td>
                    <td><%= r.windowoffice %></td>
                    <td><%= r.corner %></td>
                    <td><%= r.cubicle %></td>
                    <td><%= r.single %></td>
                    <td><%= r.double %></td>
                </tr>
            <% }); %>
        </table>
        <form method="POST" action="/logout">
            <input type="submit" value="Log Out">
        </form>
    </body>
</html>